.wrapper {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    background-color: #439a00;
    background-image: url("https://cdn.base64decode.org/assets/images/pattern.webp");
    color: antiquewhite;
    position: relative;
    min-height: 920px;
}

.content {
    margin: 20px;
}

.generated {
    margin: 20px;
}

button {
    color: #fff;
    width: 136px;
    height: 26px;
    background: #275900;
}

.foot {
    position: absolute;
    bottom: 0;
    margin-left: 38%;
}